.happy-birthday-homie .grid-container {
  display: flex;
}

/* Background */
.custom-emoji-background {
  opacity: 0.12;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  z-index: 0;
  width: 300%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="90" height="75" viewBox="0 0 100 100"%3E%3Ctext x="50%25" y="50%25" dy=".35em" font-size="40" fill="rgba(204, 204, 204, 1)"%3E⛳%3C/text%3E%3C/svg%3E') ;
  background-repeat: repeat;
  transform: skewX(-5deg);
  animation: moving-animation 82s linear infinite;
}

@keyframes moving-animation {
  0% {
    transform: translateX(0) skewX(-5deg);
  }
  100% {
    transform: translateX(-500px) skewX(-5deg);
  }
}
