@tailwind base;
@tailwind components;
@tailwind utilities;

/* *************************************************** */
/* *************************************************** */
/*                   APP                               */
/* *************************************************** */
/* *************************************************** */

.App {
  text-align: center;
  background: var(--background-light);
  color: var(--text-color-for-light-theme);
  height: 100%;
  min-height: 100vh;
  font-size: var(--font-size-normal);
}

h1 {
  font-size: var(--font-size-xlarge);
  margin: 0.8rem auto;
  text-align: left;
}

h2 {
  font-size: var(--font-size-large);
  margin: 0.5rem auto;
  text-align: left;
}

h5 {
  font-size: var(--font-size-normal);
  margin: 0.5rem auto;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0.8rem auto;
}

br.small {
  font-size: 10px;
  margin: 0;
}

.xlarge {
  font-size: var(--font-size-xlarge);
}

a {
  color: #0d1cc3;
}

a:visited {
  color: var(--primary);
}

.left.intro {
  width: 40%;
}

.right.intro {
  width: 52%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.background-color-2 {
  background: var(--light-2);
}

.text-align-left {
  text-align: left;
}

.fade {
  color: var(--black-blue-2);
}

button {
  border-width: 1px;
  border-radius: 4px;
  padding: 4px 12px;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  border-color: var(--secondary);
  color: #000000;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 982px;
  text-align: left;
}
@media (max-width: 500px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* *************************************************** */
/*                        DARK                         */
/* *************************************************** */
.dark .App {
  background: var(--dark-1);
  color: var(--text-color-for-dark-theme);
}

.dark .background-color-2 {
  background: var(--dark-2);
}

.dark a {
  color: var(--light-pink);
}

.dark a:visited {
  color: var(--light-pink);
}

.dark button {
  background: #232b36;
  border-radius: 4px;
  border-width: 2px solid #aaaaaa;
  color: var(--text-color-for-dark-theme);
}

.dark button:disabled {
  border: 1px solid #999999;
  background-color: #2d2d2d;
  color: #8d8d8d;
}

.dark .fade {
  color: var(--black-blue);
}

.App,
a,
a:visited,
.background-color-2,
.dark a,
.dark a:visited,
.dark .background-color-2,
.dark .App,
.dark .navbar-container,
.navbar-container {
  transition:
    background 500ms ease-in-out,
    color 1000ms ease-in-out;
}

/* ################################################### */
/* ################################################### */
/* ##                   NAV BAR                     ## */
/* ################################################### */
/* ################################################### */

@layer components {
  .navigation-icon {
    @apply inline-block ml-auto mr-2 p-2 rounded-lg
    transition duration-300 ease-in-out 
    text-black cursor-pointer hover:text-white;
  }

  nav a.navbar-item {
    @apply no-underline px-2 py-1 mx-1 block rounded-lg
    duration-300 ease-in-out 
  hover:text-white text-black visited:text-black;
  }

  nav button.hamburger-menu {
    display: none;
    background-color: transparent;
  }

  button.hamburger-menu path {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    fill: black;
  }

  button.hamburger-menu:hover path {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    fill: white;
  }

  /* nav button.hamburger-menu {
    @apply duration-300 ease-in-out 
    hover:bg-primary
    dark:hover:bg-primary-dark
  } */
}

.navbar-container nav {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  padding: 0.2rem 0rem;
}

.navbar-container {
  /* Sticky properties */
  /* position:static;   */
  position: sticky;
  top: 0;
  z-index: 1;
  /* Overlay content / Make element lies above others */
  background: var(--secondary);
}

.navbar-container ul,
.navbar-container li {
  width: fit-content;
  display: flex;
}

.navbar-container li.navbar-item-about-author {
  width: fit-content;
  margin-left: 2rem;
  margin-right: auto;
}

.navbar-container ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;
}

a.navbar-item.brand {
  font-size: var(--font-size-large);
}

div.navbar-container {
  margin-left: auto;
}

.navbar-container {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* x-offset y-offset blur color */
  padding-left: 15px;
  padding-right: 15px;
}

.standard-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 982px;
}

button.theme-mode {
  position: absolute;
  right: 0;
}

button.hamburger-menu {
  display: none;
}

@media (max-width: 700px) {
  ul.navbar-items {
    display: none;
  }

  nav button.hamburger-menu {
    display: block;
    border: none;
    border-radius: 0.5rem;
  }

  /* when click the hamburger-menu button */
  ul.navbar-items {
    /* The hide/show part */
    visibility: hidden;
    opacity: 0;
    /* Hide menu first */
    display: none;

    /* Position */
    position: absolute;
    top: 50.6px;
    right: -15px;

    /* Styling */
    backdrop-filter: blur(15px);
    background-color: rgb(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 0rem 0rem 0rem 0.5rem;
  }

  ul.navbar-items.display-vertical-nav-items {
    visibility: visible;
    opacity: 1;
    display: inline-block;
  }

  .dark ul.navbar-items.display-vertical-nav-items {
    background-color: rgb(235, 115, 99, 0.7);
  }
}

.dark .navbar-container {
  background: var(--secondary);
  box-shadow: none; /* x-offset y-offset blur length color */
}

/* ################################################### */
/* ################################################### */
/* ##                   HOME BIO                    ## */
/* ################################################### */
/* ################################################### */

.row.introduction {
  grid-column-gap: 20px;
}

.portrait {
  border-radius: 10px;
  grid-column: span 5;
  margin-top: 1rem;
}

.portrait .img-container {
  width: 291px;
  height: 387px;
  float: right;
  overflow: hidden;
  border-radius: 10px;
}

.portrait .img-container img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  transition: transform 0.3s ease;
}

.portrait .img-container:hover img {
  transform: scale(1.06);
}

.bio {
  grid-column: span 6;
  text-align: left;
}

@media (max-width: 800px) {
  .bio {
    grid-column: span 12;
    text-align: center;
  }

  .portrait {
    grid-column: span 12;
  }

  .portrait .img-container {
    /* Use <div className=img-container> to contain zoomed <img> inside */
    width: 120px;
    height: 120px;
    border-radius: 10px;
    float: left;
  }

  .img-container img {
    object-fit: cover;
    object-position: 0 -30%;
    transform: scale(1.25);
  }

  .portrait .img-container:hover img {
    transform: scale(1.35);
  }
}

/* ################################################### */
/* ################################################### */
/* ##                   PROJECTS                    ## */
/* ################################################### */
/* ################################################### */

.project {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(187, 187, 187);
  min-height: 8.5rem; /* +0.5rem from ".project img" */
}

.project p {
  text-align: left;
}

.ppicture {
  float: left;
  margin-right: 1rem;
}

.project img {
  height: 8rem;
  width: 8rem;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

.project svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.project svg:hover path {
  fill: var(--red-vanilla);
}

.project .description p {
  margin: 0.1rem auto;
  text-align: justify;
}

.project ul {
  margin: 0.2rem 0;
}

.project li {
  padding-left: 0.5rem;
  margin-left: 8rem;
}

.project .description a {
  padding: 0;
  text-decoration: none;
  transition: none;
}
.project .description a.project-button:hover {
  background: none;
}

.project .description a.project-button,
.project .description a.project-button:visited {
  color: var(--text-color-for-light-theme);
}
.project .description button.project-button {
  background: var(--secondary);
}

@media (max-width: 500px) {
  .project .ppicture img {
    height: 4rem;
    width: 4rem;
  }
}

.dark .project svg path {
  fill: white;
}
.dark .project svg:hover path {
  fill: var(--red-vanilla);
}

.dark .project .description button.project-button {
  color: var(--text-color-for-light-theme);
}

/* ################################################### */
/* ################################################### */
/* ##                TIME I HAVE LEFT               ## */
/* ################################################### */
/* ################################################### */

.lifebar-illustration-container {
  width: 80%;
  margin: 30px auto;
}

img.lifebar-annotation {
  margin: 30px auto 0 auto;
  border-radius: 5px;
  width: 100%;
}

.lifebar-container {
  background-color: var(--secondary);
  border-radius: 5px;
  height: 50px;
  position: relative;
}

.lifebar {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.lifebar-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  line-height: 30px; /* Center vertically */
  font-size: var(--font-size-normal);
  color: var(--text-color-for-light-theme); /* Text color */
}

.time-i-have-left li {
  list-style: disc;
}

/* ################################################### */
/* ################################################### */
/* ##                     BUTTON                    ## */
/* ################################################### */
/* ################################################### */

.btn-primary {
  margin: 0 0.2rem;
  --bs-btn-focus-shadow-rgb: none;
  font-size: var(--font-size-normal);
}

/* ################################################### */
/* ################################################### */
/* ##                  NOT FOUND                    ## */
/* ################################################### */
/* ################################################### */

.notfound h1,
.notfound p {
  text-align: center;
  margin: 3rem auto;
}

/* ################################################### */
/* ################################################### */
/* ##                GLOBAL VARIABLES               ## */
/* ################################################### */
/* ################################################### */

/* Check out here: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557  */

:root {
  --background-light: #f3fbfc;
  --primary: #c53329;
  --secondary: #eb7363;
  --accent: #e98463;

  --text-color-for-light-theme: #000000;
  --light-1: #e6ecf4;
  --light-2: #e2e2e6;

  --text-color-for-dark-theme: #e6e6e6;
  --dark-1: #0b1119;
  --dark-2: #070b10;
  --dark-3: #070707;

  /* Customised colors for other elements */
  --red-vanilla: #e63946;
  --white-vanilla: #fefefe;
  --light-blue: #a8dadc;
  --pale-blue: #457b9d;
  --dark-blue: #0f5f9c;
  --light-pink: #d984d9;

  --nav-link-padding: 0.5rem;
  --nav-link-padding-side: 1rem;

  --font-size-small: 14px;
  --font-size-normal: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 30px;
}
