@tailwind base;
@tailwind components;
@tailwind utilities;


.tilted-columns-background::before,
.tilted-columns-background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  /* Adjust width as needed */
}

.tilted-columns-background::before {
  left: -55px;
  /* Adjust spacing as needed */
  transform: skewX(-10deg);
}

.tilted-columns-background::after {
  right: -55px;
  /* Adjust spacing as needed */
  transform: skewX(10deg);
}


.card {
  display: flex;
  margin: 2rem auto;
  border: none;
  z-index: 1;
  background-image: linear-gradient(168deg, rgba(255, 255, 255, 0.05), rgba(189, 245, 255, 0.05), rgba(103, 219, 255, 0.05));
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  padding: 25px;
  min-width: 250px;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.dark .card {
  /* background-image: linear-gradient(168deg, var(--darker-blue), var(--dark-blue)); */
}

.card-content {}

.card-title {
  margin: 0;
  font-size: 44px;
  font-weight: bold;

}

.card-description {
  margin: 5px 0 0 0;
  font-size: 35px;
}


/* BirthdayCard1 */
.happy-birthday-card-1 .animate-character {
  background-image: linear-gradient(-300deg,
      #0016dd 0%,
      #4d0599 20%,
      #ff1361 30%,
      #e5ff00 40%,
      #e07f00 60%,
      #01e4d8 80%,
      #0016dd 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* BirthdayCard2: SVG animate border */
.happy-birthday-card-2 svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #ffa5d8;
  font-size: 100px;
  font-weight: 200;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}

.happy-birthday-card-2 h3.card-title {
  letter-spacing: 10px;
  stroke: #ffa5d8;
  font-size: 50px;
  stroke-width: 3;
  /* animation: textAnimate 5s infinite alternate; */
}


@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%)
  }
}


/* 3333333333333333333333333333333 */

.happy-birthday-card-3 {
  --color-primary: #ffec98;
  --color-secondary: #f3d085;
  --color-tertiary: #f8b551;
  --color-quaternary: #e07510;
  --color-quinary: #d35f00;
}

.happy-birthday-card-3 .card-title {
  text-align: center;
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1s ease-in infinite, move 1s ease-in infinite;
  /* font-weight: 400; */
  /* letter-spacing: 0.4rem; */
}


@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary);
  }

  20% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary),
      1.4px 1.4px 0 var(--color-tertiary);
  }

  30% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary),
      1.4px 1.4px 0 var(--color-tertiary), 2.1px 2.1px var(--color-quaternary);
  }

  35% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary),
      1.4px 1.4px 0 var(--color-tertiary), 2.1px 2.1px var(--color-quaternary),
      2.8px 2.8px 0 var(--color-quinary);
  }

  65% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary),
      1.4px 1.4px 0 var(--color-tertiary), 2.1px 2.1px var(--color-quaternary),
      2.8px 2.8px 0 var(--color-quinary);
  }

  70% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary),
      1.4px 1.4px 0 var(--color-tertiary), 2.1px 2.1px var(--color-quaternary);
  }

  80% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary),
      1.4px 1.4px 0 var(--color-tertiary);
  }

  90% {
    text-shadow: 0.7px 0.7px 0 var(--color-secondary);
  }

  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  35% {
    transform: translate(-2.1px, -2.1px);
  }

  65% {
    transform: translate(-2.1px, -2.1px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}


@media (max-width: 800px) {
  .happy-birthday-card-3 .card-title {
    font-size: 32px;
  }

  .happy-birthday-card-3 .card-description {
    font-size: 22px;
  }
}


/* 4444444444444444444444444 */

.happy-birthday-card-4 {
  --color-primary: #ffec98;
  --color-secondary: #f3d085;
  --color-tertiary: #f8b551;
  --color-quaternary: #e07510;
  --color-quinary: #d35f00;
}

.happy-birthday-card-4 .card-title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: var(--secondary);
  font-style: normal;
  /* text-transform: uppercase; */
  font-weight: 500;

  /* text-shadow: 1px 1px 0 var(--color-secondary), 2px 2px 0 var(--color-tertiary),
    3px 3px var(--color-quaternary), 4px 4px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  text-transform: uppercase;
  color: var(--color-primary); */

  /* font-weight: 500; */
  /* letter-spacing: 0.4rem; */
}