@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  display: flex;
  margin: 2rem auto;
  border: none;
  z-index: 1;
  background-image: linear-gradient(168deg, rgba(1, 135, 231, 0.08), rgba(201, 247, 255, 0.02), rgba(103, 219, 255, 0.08));
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  padding: 25px;
  min-width: 600px;
  max-width: 600px;
  min-height: 300px;
  align-items: center;
}

.dark .card {
  background-image: linear-gradient(168deg, rgba(0, 0, 0, 0.05), rgba(37, 50, 52, 0.05), rgba(54, 113, 131, 0.05));
}

.card-content {}

.card-title {
  margin: 0;
  font-size: 44px;
  font-weight: bold;

}

.card-message {
  margin: 5px 0 0 0;
  font-size: 35px;
}

.happy-birthday-card {
  --color-primary: #ffec98;
  --color-secondary: #f3d085;
  --color-tertiary: #f8b551;
  --color-quaternary: #e07510;
  --color-quinary: #d35f00;
}

.happy-birthday-card .card-title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: var(--secondary);
  font-style: normal;
  font-weight: 500;
}